<a href="https://colab.research.google.com/github/SwikritiKhare/Python-Assignments/blob/main/1st_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#(1. Question 1:Write a Python program to print your name and favourite colour on two separate lines.)

In [ ]:
 print (''' swikriti
  pink ''')

 swikriti
 pink

In [ ]:
#2. Question 2:
#Write a Python program that prints the result of adding 7 and 8.

In [ ]:
print (7+8)

15

In [ ]:
#3. Question 3:
#Use the print function to display the following text exactly as it is:
#Python is fun!
#Let's learn together.

In [ ]:
print("Python is fun!\nLet's learn together")

Python is fun!
Let's learn together

In [ ]:
#4. Question 4:
#Write a Python program to calculate and print the result of multiplying 6 by 9.

In [ ]:
print(6*9)

54

In [ ]:
#5. Question 5:
#Write a Python program that prints the result of adding 5 + 5 and
#multiplying 2 * 3 in a single line of code.

In [ ]:
print(5+5,2*3)

10 6

In [ ]:
#1. Take the name A as input from the user and print "Hello A", where A is the name in input.

In [ ]:
Name="Hello A"

In [ ]:

 print(Name)

Hello A

In [ ]:
#2. You have x rupees in your savings. You google pay y rupees, print your bank balance

In [ ]:
x=50
y= 40
print ("bank balance=x-y")

bank balance=x-y

In [ ]:
#3. Print the first five letters of the English alphabet i.e. A, B, C, D and E one below each other

In [ ]:
print('''A
B
C
D
E''')

A
B
C
D
E

In [ ]:
#4. Take two names A and B as input from the user, and print "A says Hi to B" (Without quotations), where A and B are the names in input.

In [ ]:
name = "A"
name="B"

In [ ]:
print("A says HI to B")

A says HI to B