In [3]:
# 1. Question 1:
# Create a variable age and assign it the value 25 . Then print the value of
# age along with its data type using the type() function.


age = 25
print(age)
type(age)

25

int

In [5]:
# 2. Question 2:
# Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe?

price = 12.5
print(price)
type (price)

12.5

float

In [7]:
PRICE = 12
print(PRICE)
type(PRICE)

12

int

In [11]:
# 3. Question 3:
# Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.


is_raining = True
print("Value:", is_raining)
print("Type:", type(is_raining))


is_raining = False
print("New Value:", is_raining)
print("New Type:", type(is_raining))

Value: True
Type: <class 'bool'>
New Value: False
New Type: <class 'bool'>

In [16]:
# 4. Question 4:
# Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .

my_name = "Swikriti Khare"
print('My name is', my_name)

My name is Swikriti Khare

In [24]:
# 5. Question 5:
# Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.

name = input("enter your name")
age = input("enter your age")

print("Hello,", name,"!" "You are", age, "years old.")

enter your name Swikriti
enter your age 26

Hello, Swikriti !You are 26 years old.

In [31]:
# 6. Question 6:
# Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.

x = 10
y= 3.5
print(x, type(x))
print(y, type(y))


sum_xy = x + y 
print(sum_xy , type(sum_xy))

10 <class 'int'>
3.5 <class 'float'>
13.5 <class 'float'>

In [36]:
# 7. Question 7:
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

print(45.0 , type(45.0))
print("hello",type("hello"))
print("None",type(None))
print("False",type(False))

45.0 <class 'float'>
hello <class 'str'>
None <class 'NoneType'>
False <class 'bool'>

In [38]:
# 8. Question 8:
# Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.

print("apple" , "banana" , "cherry")


print("apple," , "banana," ,"cherry")

apple banana cherry
apple, banana, cherry

In [43]:
# 9. Question 9:
# Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?

big_number = 98765432198765432132423534534532535325352
print(big_number, type(big_number))
print("No special handling is needed for large integers in Python")

98765432198765432132423534534532535325352 <class 'int'>
No special handling is needed for large integers in Python

In [47]:

# 10. Question 10:
# Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.


x = 2.5
y= 3.7
multiplication = x * y
print(multiplication , type(multiplication))

9.25 <class 'float'>